<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
      function ClientController($scope) {
        var socket = io.connect();

        $scope.roster = [];
        $scope.username = '';

        socket.on('connect', function () {
          $scope.setUserName();
        });

        socket.on('roster', function (usernames) {
          $scope.roster = usernames;
          $scope.$apply();
        });

        $scope.setUserName = function setUserName() {
          socket.emit('identify', $scope.username);
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ClientController">
      <div class="page-header">
        <h1></h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well" style="list-style-type:none">
            <li class="nav-header">Online Users:</li>
            <li ng-repeat="user in roster" ng-bind="user">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
